.tooltip {
  max-width: 340px;
  min-width: 170px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 30px 0 rgba(0,0,0,.2);

  padding: 15px;
  position: absolute;
  background: #FFF;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.3em;
  text-align: left;
  z-index: 400;

  .tooltip--header {
    font-weight: bold;
    margin-right: 25px;
  }
  
  /* Only apply margin top if next to header */
  .tooltip--header + .tooltip--content {
    margin-top: 10px;
  }

  .tooltip--close {
    float: right;
    position: relative;
  }

  &:before {
    content: '';
    border: solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    border-color: rgba(136,183,213,0);
    border-bottom-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 10px;
    margin-left: 3px;
    top: -20px;
    left: 0;
  }

  &.tooltip--position-right:before {
    margin: 0 3px 0 0;
    left: auto;
    right: 0;
  }
  &.tooltip--position-left:before {
    margin: 0 0 0 3px;
    right: auto;
    left: 0;
  }
}

@media screen and (max-width: 320px) {

  .tooltip {
    width: auto;
    left: 15px !important;
    right: 15px !important;

    &:before {
      display: none;
    }
  }

}